.app-links {
  text-align: center;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #C33764;
  background: -webkit-linear-gradient(rgba(199, 84, 121, 0.8), rgba(11, 20, 95, 0.8)), url("https://cdn.nextgov.com/media/img/upload/2020/10/19/NGspace20201019/860x394.jpg");
  background: linear-gradient(rgba(199, 84, 121, 0.8), rgba(11, 20, 95, 0.8)), url("https://cdn.nextgov.com/media/img/upload/2020/10/19/NGspace20201019/860x394.jpg");
  color: aliceblue;
  
}
.app-title {
  font-size: 2rem;
  margin-left: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.app-nav {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-right: 40px;
  padding: 40px;
  line-height: 20px;
  
}

.app-nav li {
  list-style-type: none;
  overflow: hidden;
  margin-left: 30px;
  font-size: 1.3rem;
  font-weight: 800; 
  margin-right: 100px;
}

.app-nav li a {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none !important;
  display: inline-block;
  color: black;
  border-color: pink;
  background: pink;
  margin-left: 170px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.app-nav li a:hover {
  color: black;
  border-color: grey;
  background: grey;
}
